// colors
$orange: #FF4E00;
$orange-dark: #f04800;
$black: #212121;
$neon-green: #01CD74;
$white: #FAFAFA;

$global-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

$global-box-shadow-hover: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

// font sizes
$font-size-x-small: 12px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 24px;
$font-size-x-large: 32px;

// colors for accessibility
$gray-keyboard-tabbing: #BDBDBD;
$lightgray-search-background: #E0E0E0;

// responsive mixins
@mixin phone {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 600px) and (max-width: 899px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 900px) {
    @content;
  }
}